node-red/volume/flows.json
[{"id":"d9be8e35.19eb5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bf316903.7852f8","type":"ui_tab","name":"Challenge Fullstack - IntelliSite","icon":"dashboard","disabled":false,"hidden":false},{"id":"992a230d.122a4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Challenge Fullstack - IntelliSite","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":55,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a2ca7fba.05ca5","type":"ui_group","name":"Events","tab":"bf316903.7852f8","order":1,"disp":true,"width":"26","collapse":false},{"id":"6e3e5771.22cdb8","type":"ui_spacer","name":"spacer","group":"a2ca7fba.05ca5","order":2,"width":1,"height":1},{"id":"75e912c.51500ec","type":"ui_spacer","name":"spacer","group":"a2ca7fba.05ca5","order":4,"width":"16","height":"1"},{"id":"5a0623f4.63e63c","type":"ui_ui_control","z":"d9be8e35.19eb5","name":"","events":"all","x":270,"y":360,"wires":[["c6196f60.d014f","74328dd0.a1aae4","b79fae26.0552c"]]},{"id":"480facd1.971a54","type":"ui_table","z":"d9be8e35.19eb5","group":"a2ca7fba.05ca5","name":"","order":3,"width":"24","height":"8","columns":[],"outputs":0,"cts":false,"x":630,"y":180,"wires":[]},{"id":"c6196f60.d014f","type":"http request","z":"d9be8e35.19eb5","name":"get_events","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://jsonplaceholder.typicode.com/posts","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":280,"wires":[["7bc35759.b6a558","480facd1.971a54"]]},{"id":"7bc35759.b6a558","type":"debug","z":"d9be8e35.19eb5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":340,"wires":[]},{"id":"74328dd0.a1aae4","type":"ui_template","z":"d9be8e35.19eb5","group":"a2ca7fba.05ca5","name":"download csv","order":5,"width":0,"height":0,"format":"\n    <a href=\"http://localhost/saleswebsite/DDJJ.csv\">\n    \n        <button class=\"md-raised md-button md-ink-ripple\"\n        ng-click=\"window.location='http://localhost/saleswebsite/DDJJ.csv'\"\n        ng-style=\"{'background-color': '#0094ce', 'color': white, 'z-index':1, 'padding':'10px 25px'}\">\n            <span>Download CSV</span>\n            <div class=\"md-ripple-container\" style=\"\">\n                \n            </div>\n        </button>\n    \n</a>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":490,"y":520,"wires":[[]]},{"id":"b79fae26.0552c","type":"ui_template","z":"d9be8e35.19eb5","group":"a2ca7fba.05ca5","name":"logo","order":1,"width":0,"height":0,"format":"<img\n    style=\"width: 200px;margin-left: 10px;\"\n    src=\"https://www.intellisite.io/wp-content/themes/custom-theme/assets/img/header-black-logo1.png\"\n/>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":520,"y":400,"wires":[[]]}]